<section>
    <div class="container">
        <h3 class="section__title">Fournisseur d'identité de démonstration</h3>

        <form autocomplete="off" action="/interaction/<%= interactionId %>/login" method="post">

        <% if (locals.notifications) { %>
            <% notifications.forEach(({type, message}) => { %>
            <div class="notification <%= type %>">
                <%= message %>
            </div>
            <% }) %>
        <% } %>

        <div class="form__group">
            <label for="login">Identifiant</label>
            <input class="form-control" required type="text" name="login" placeholder="Identifiant" autofocus="on" value="test">
        </div>

        <div class="form__group">
            <label for="password">Mot de passe</label>
            <input class="form-control" required type="password" name="password" placeholder="Mot de passe" value="123">
        </div>

        <div class="form__group">
            <label for="acr">Niveau eIDAS
                <a title="Forcer le niveau eIDAS renvoyé par le Fournisseur d'Identité ne fonctionnera que si le Fournisseur de Service a précisé le paramètre &quot;acr_values&quot; dans l'appel à FranceConnect. Le cas échéant, le niveau faible (eidas1) sera renvoyé par FranceConnect">(info)</a>
            </label>
            <select class="form-control" required name="acr" placeholder="Niveau eIDAS (à renvoyer à FC)*">
                <option value="eidas1" <%= !locals.acr || locals.acr && locals.acr == 'eidas1' ? 'selected' : '' %>>Faible (eidas1)</option>
                <option value="eidas2" <%= locals.acr && locals.acr == 'eidas2' ? 'selected' : '' %>>Substantiel (eidas2)</option>
                <option value="eidas3" <%= locals.acr && locals.acr == 'eidas3' ? 'selected' : '' %>>Élevé (eidas3)</option>
            </select>
        </div>

        <div class="form__group">
            <input type="submit" value="Valider" class="button large">
        </div>
        </form>

        <div class="text-center">
            <p><a href="https://github.com/france-connect/identity-provider-example/blob/master/database.csv">Liste des identifiants disponibles</a></p>
        </div>
    </div>
</section>

<div class="container">
    <div class="text-center">
        <div class="container">
        </div>
    </div>
</div>
